body{
  margin:0;
  width:100%;
  background-color:grey;
  font-family:sans-serif;
  text-align:center;
  overscroll-behavior: none;
}
section{
  position:relative;
  height:100vh;
  border-bottom:1px solid #636363;
  width: 50%;
}
h1{
  position:absolute;
  top:50px;
  font-size:50px;
  line-height: 1;
  font-family:sans-serif;
  color: #fff;
  margin: 0 0 0 20px;
}
#painting {
  width: 40%;
  position: fixed;
  right: 0;
  top: 0;
  background: #333;
  height: 100vh;
  overflow: hidden;
}
#painting img {
  width: 100%;
}
